Repository qiskit-community/ibm-quantum-challenge-2021, pull requests merged in 2021-06, with the labels that each got.

#17 Leonardo Di Caprio #iqc2021 meme
  memes/#iqc 2021.png
Labels: meme

#47 Felix's meme submmission
  memes/meme_iqc2021_honest.jpg
Labels: meme

#15 explain and clean solution
  solutions by participants/ex5/ex5-solution.ipynb
Labels: ex5, solution

#19 Solution for IQC2021 Exercise 5 - Anuranan Das
  solutions by participants/ex5/IQC_EX5_Anuranan_Das_Score3.ipynb
Labels: ex5, solution

#20 Add saum-g's ex5 solution
  solutions by participants/ex5/ex5_Saumya_Goyal.ipynb
Labels: ex5, solution

#22 Ex5 Solution
  solutions by participants/ex5/ex5_solution.ipynb
Labels: ex5, solution

#23 Ex5 solution by Abeer Vaishnav
  solutions by participants/ex5/ex5 - Abeer Vaishnav.ipynb
Labels: ex5, solution

#24 QC solutions By Sergio Martinez-Losa
  solutions by participants/ex1/ex1_sergio_martinez_losa.ipynb
  solutions by participants/ex2/ex2_sergio_martinez_losa.ipynb
  solutions by participants/ex3/ex3_sergio_martinez_losa.ipynb
  solutions by participants/ex4/ex4_sergio_martinez_losa.ipynb
  solutions by participants/ex4/resources/helper.py
  solutions by participants/ex5/ex5_sergio_martinez_losa.ipynb
  solutions by participants/ex5/resources/ansatz.png
  solutions by participants/ex5/resources/mapping.png
  solutions by participants/ex5/resources/workflow.png
Labels: ex1, ex2, ex3, ex4, ex5, solution

#25 Hojun Lee, cost: 236
  solutions by participants/ex2/ex2.ipynb
  solutions by participants/ex3/ex3.ipynb
Labels: ex2, ex3, solution

#26 IQC 2021 Ex5 Solution by Lukas Burgholzer
  solutions by participants/ex5/ex5_Burgholzer.ipynb
Labels: ex5, solution

#27 Ex1 Solution
  solutions by participants/ex1/ex1_solution.ipynb
Labels: ex1, solution

#28 Ex2 Solution
  solutions by participants/ex2/ex2_solution.ipynb
Labels: ex2, solution

#30 Ex3 Solution
  solutions by participants/ex3/ex3_solution.ipynb
Labels: ex3, solution

#34 Ex4 Solution
  solutions by participants/ex4/ex4_solution.ipynb
Labels: ex4, solution

#29 Ayushi_Johari, score:18, #of parameters=24, error=2.18 mHa
  solutions by participants/ex5/ex5.ipynb
Labels: ex5, solution

#31 ex5 solution
  solutions by participants/ex5/ex5_3-score_czegel.ipynb
Labels: ex5, solution

#32 exercise5_solution_sanjay_shukla
  exercise5.ipynb
Labels: ex5, solution

#33 add solutions by @BillyLjm
  solutions by participants/ex1/billyljm_ex1.ipynb
  solutions by participants/ex2/billyljm_ex2.ipynb
  solutions by participants/ex3/billyljm_ex3.ipynb
  solutions by participants/ex4/billyljm_ex4.ipynb
  solutions by participants/ex5/billyljm_ex5.ipynb
Labels: ex1, ex2, ex3, ex4, ex5, solution

#35 Submitting solutions to problems and memes
  memes/IQC Ex5 Meme.jpg
  solutions by participants/ex1/Ex1 solution.ipynb
  solutions by participants/ex1/ex1 score 73.ipynb
  solutions by participants/ex2/Ex2 solution.ipynb
  solutions by participants/ex2/ex2 score 6.ipynb
  solutions by participants/ex3/Ex3 solution score 266.ipynb
  solutions by participants/ex3/Ex3 solution score 44.ipynb
  solutions by participants/ex3/Ex3 solution score 66.ipynb
  solutions by participants/ex3/ex3 score 266.ipynb
  solutions by participants/ex3/ex3 score 44.ipynb
  solutions by participants/ex3/ex3 score 64.ipynb
  solutions by participants/ex4/Ex4 solution.ipynb
  solutions by participants/ex4/ex4.ipynb
  solutions by participants/ex5/Ex5 solution score 1.ipynb
  solutions by participants/ex5/Ex5 solution score 3.ipynb
  solutions by participants/ex5/ex5 score 1.ipynb
  solutions by participants/ex5/ex5 score 3.ipynb
Labels: ex1, ex2, ex3, ex4, ex5, meme, solution

#36 Solution_of_Ex-1to5_IQC2021_by_Krishanu_Podder
  solutions by participants/ex1/ex1.ipynb
  solutions by participants/ex2/ex2.ipynb
  solutions by participants/ex3/ex3.ipynb
  solutions by participants/ex4/ex4.ipynb
  solutions by participants/ex5/Ex-5_VQE_by_Krishanu_IQC2021.ipynb
  solutions by participants/ex5/VQE_by_Krishanu_IQC2021.ipynb
Labels: ex1, ex2, ex3, ex4, ex5, solution

#37 Solution to exercise 5
  solutions by participants/ex5/Suryansh_aryan_LiH_VQE.ipynb
Labels: ex5, solution

#38 ex5 solution - Hyun Jin Kim
  solutions by participants/ex5/ex5_solution_hyunjin.ipynb
Labels: ex5, solution

#39 Add solution to ex5
  solutions by participants/ex5/ex5.ipynb
Labels: ex5, solution

#40 Submit solution for ex 5 IBM challenge 2021-Le Duc Truyen
  solutions by participants/ex5/Challenge5_IBM.ipynb
Labels: ex5, solution

#41 Adding solution for ex3 - Quantum Error Correction (Score-226)
  solutions by participants/ex3/ex3_solution_SaashJoshi.ipynb
Labels: ex3, solution

#42 add @epelaaez solutions
  solutions by participants/ex1/ex1 @epelaaez.ipynb
  solutions by participants/ex2/ex2 @epelaaez.ipynb
  solutions by participants/ex3/ex3 @epelaaez.ipynb
  solutions by participants/ex5/ex5 @epelaaez.ipynb
Labels: ex1, ex2, ex3, ex5, solution

#43 EX1
  solutions by authors/ex2/Ex2.ipynb
  solutions by participants/ex1/Ex1.ipynb
  solutions by participants/ex3/Ex3.ipynb
  solutions by participants/ex4/ex4.ipynb
  solutions by participants/ex5/Ex5.ipynb
Labels: ex1, ex2, ex3, ex5, solution

#44 add Ex5 solution
  solutions by participants/ex5/Ex5_solution.ipynb
Labels: ex5, solution

#45 Solutions to Ex 1 (cost 71), Ex 2 (cost 6), Ex 3 (cost 106), Ex 4, Ex 5 (cost 3)
  solutions by participants/ex1/ex1_Rosenberg_Eliott.ipynb
  solutions by participants/ex2/ex2_Rosenberg_Eliott.ipynb
  solutions by participants/ex3/ex3_Rosenberg_Eliott.ipynb
  solutions by participants/ex4/ex4-Rosenberg_Eliott.ipynb
  solutions by participants/ex5/ex5_Rosenberg_Eliott.ipynb
  solutions by participants/ex5/theta1.csv
Labels: ex1, ex2, ex3, ex4, ex5, solution

#46 Added solution to exercise 5 with score 3
  solutions by participants/ex5/ex5_solution@RaviBansal_Score3_2.36mHa_16.ipynb
  solutions by participants/ex5/result_LiH_final_submission.csv
Labels: ex5, solution

#48 Ex_5 Solution
  solutions by participants/ex5/Ex5_Solution.ipynb
Labels: ex5, solution

#49 Solution to ex5
  solutions by participants/ex5/rp_score_3__error_2_45__params_18.ipynb
Labels: ex5, solution

#50 add ex1_ex2_ex3_ex4_ex5_ meme_maldoalberto_solution
  memes/meme.png
  solutions by participants/ex1/ex1_alberto_maldonado_romo.ipynb
  solutions by participants/ex2/ex2_alberto_maldonado_romo.ipynb
  solutions by participants/ex3/ex3_alberto_maldonado_romo.ipynb
  solutions by participants/ex4/ex4_alberto_maldonado_romo.ipynb
  solutions by participants/ex5/ex5_alberto_maldonado_romo.ipynb
Labels: ex5, solution

#52 Add Jacob Cybulski (ironfrown) ex5 solution
  solutions by participants/ex5/ironfrown_ex5.ipynb
Labels: ex5, solution

#53 Create solution-bjorn-lofdahl.ipynb
  solutions by participants/ex5/solution-bjorn-lofdahl.ipynb
Labels: ex5, solution

#54 Add solutions
  solutions by participants/ex1/michael_rollin.ipynb
  solutions by participants/ex2/michael_rollin.ipynb
  solutions by participants/ex5/michael_rollin.ipynb
Labels: ex1, ex2, ex5, solution

#56 HydraKen ex5 solution
  ex5_HydraKen.ipynb
Labels: ex5, solution

#57 ex5 solution (Japanese)
  solutions by participants/ex5/ex5-ja_solution_score3_SJSY.ipynb
Labels: ex5, solution

#58 Ex1 toffoli gate translation in Hindi
  content/ex1/ex1-hi.ipynb
Labels: ex1, translation

#69 Hindi translation
  content/ex5/ex5-Hi.ipynb
Labels: ex5, translation

#75 ibm-quantum-challenge-2021 Chinese 中文版解答
  2021量子電腦挑戰賽 Ex5 (1).ipynb
  README.md
  resources/ansatz.png
  resources/mapping.png
  resources/workflow.png
Labels: ex5, solution, translation

#80 Add submission ex2 Spanish translation ex2 and Spanish translation for ex3
  README.md
  content/ex2/ex2_es.ipynb
  content/ex3/ex3-es.ipynb
  solutions by participants/ex2/ex2_about_CXCCXalgebra.ipynb
Labels: ex2, ex3, translation

#85 Answer-ja
  solutions by participants/ex1/ex1-ja-Answer-koro.ipynb
  solutions by participants/ex2/ex2-ja-Answer-koro.ipynb
  solutions by participants/ex3/ex3-ja-Answer-koro.ipynb
  solutions by participants/ex4/ex4-ja-Answer-koro.ipynb
  solutions by participants/ex5/ex5-ja-Answer-koro.ipynb
Labels: ex1, ex2, ex3, ex4, ex5, solution, translation

#89 French Version of Ex-2
  content/ex2/ex2-fr
Labels: ex2, translation

#93 add answers of all exercises in Japanese by walker
  solutions by participants/ex1/ex1-ja_answer_walker.ipynb
  solutions by participants/ex2/ex2-ja_answer_walker.ipynb
  solutions by participants/ex3/ex3-ja_answer_walker.ipynb
  solutions by participants/ex4/ex4-ja_answer_walker.ipynb
  solutions by participants/ex5/ex5-ja_answer_walker.ipynb
Labels: ex1, ex2, ex3, ex4, ex5, solution, translation

#99 Contrib ex2
  content/ex1/ex1-id.ipynb
  content/ex2/ex2-id.ipynb
Labels: ex1, ex2, translation

#88 Contrib
  content/ex1/ex1-id.ipynb
Labels: ex1, translation

#21 Add files via upload
  content/ex5/ex5.ipynb
Labels: ex5, solution

#59 Add solution to ex5
  solutions by participants/ex5/Ex5_Solution.ipynb
Labels: ex5, solution

#60 Solution to exercise 5
  solutions by participants/ex5/Exercise 5 (IQC 2021).ipynb
Labels: ex5, solution

#62 Feature: IBM quantum chalenge 2021 ex5
  solutions by participants/ex5/rahuljaguste_ex5.ipynb
Labels: ex5, solution

#63 Create Ex 5 Solution
  Ex 5 Solution
Labels: ex5, solution

#64 Participant solution to exercise 5
  solutions by participants/ex5/ex5-Hillmich.ipynb
Labels: ex5, solution

#65 ibm-quantum-challenge-2021 Solutions to Ex1 (score 73), Ex2 (score 24), Ex3
  solutions by participants/ex1/ex1_score73_Giacomo_Di_Stasio.ipynb
  solutions by participants/ex2/ex2_score_24_Giacomo_Di_Stasio.ipynb
  solutions by participants/ex3/ex3_nosubmited_inverse_method_Giacomo_Di_Stasio.ipynb
Labels: ex1, ex2, ex3, solution

#66 Ex5 Solution
  solutions by participants/ex5/ex5.ipynb
Labels: ex5, solution

#67 Ex 5 Submission
  Ex 5 Submission.ipynb
Labels: ex5, solution

#68 Ex5 Solution
  solutions by participants/ex5/Ex5Solution.ipynb
Labels: ex5, solution

#70 Added Ex5 Solution
  solutions by participants/ex5/Ex5-IBM_iqc2021.ipynb
Labels: ex5, solution

#71 Exercise 5 solution- Shilpa Mahato
  solutions by participants/ex5/Ex5_Shilpa_Mahato.ipynb
Labels: ex5, solution

#72 Ex5 Solution by Howie Kuo
  memes/sleep_deprived.png
  solutions by participants/ex5/Ex5 Solution by Howie Kuo.ipynb
Labels: ex5, solution

#73 Josh IBMQC2021 ex5 Solution
  solutions by participants/ex5/Josh_IQC2021_ex5.ipynb
Labels: ex5, solution

#74 add Qingpeng Li ex5 solution
  solutions by participants/ex5/ex5_solution.ipynb
Labels: ex5, solution

#76 Create ex5-Alain_Chance.ipynb
  solutions by participants/ex5/ex5-Alain_Chance.ipynb
Labels: ex5, solution

#77 Create ex5_JakubMrozek.ipynb
  solutions by participants/ex5/ex5_JakubMrozek.ipynb
Labels: ex5, solution

#78 Adding ex5 solution - Irham A. Putra
  ex5_solution_Irham_Arfakshadz_Putra.ipynb
Labels: ex5, solution

#79 Added solution ex5
  solutions by participants/ex5/Nilay Awasthi solution ex5.ipynb
Labels: ex5, solution

#98 Ex 5 Solution sclang16
  solutions by participants/ex5/sclang16-ex5.ipynb
Labels: ex5, solution

#92 Solution for Exercise 5 : Sudhindu Bikash Mandal
  solutions by authors/ex5/IBM_Challenge_2021_ex5.ipynb
  solutions by participants/ex5/IBM_Challenge_2021_ex5.ipynb
Labels: ex5, solution

#81 added ex5 solution
  solutions by participants/ex5/ansatz_comparison.csv
  solutions by participants/ex5/iqc_2021_5.ipynb
  solutions by participants/ex5/requirements.txt
Labels: ex5, solution

#90 Exercise 5 Solution of Score 3 by Nilesh Goel
  solutions by participants/ex5/NileshGoel_Ex5_Solution.html
  solutions by participants/ex5/NileshGoel_Ex5_Solution.ipynb
Labels: ex5, solution

#94 Add ex2 solution
  solutions by authors/ex2/README.md
  solutions by authors/ex2/ex2_solution.ipynb
Labels: ex2, solution

#83 ex 2 jose fredes
  solutions by participants/ex2/josefredes
Labels: ex2, solution

#84 ex 3
  solutions by participants/ex3/josefredes
Labels: ex3, solution

#95 Answers to exercises by Ashish K S Arya
  solutions by participants/ex1/ex1.ipynb
  solutions by participants/ex2/ex2.ipynb
  solutions by participants/ex3/ex3.ipynb
  solutions by participants/ex4/ex4.ipynb
  solutions by participants/ex5/ex5.ipynb
Labels: ex1, ex2, ex3, ex4, ex5, solution
